@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', 'Roboto Mono', monospace, 'Inter', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
  background-color: black;
  color: aliceblue;
  overflow: auto;
}

.mid-content {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.back-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1497644083578-611b798c60f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.restaurants-bg {
  /* background-color: #1a1a1a; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
}

.events-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1522158637959-30385a09e0da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.nav-transition {
  transition: all 0.3s ease-in-out;
}

.canvas {
  background-color: transparent;
}

@media (max-width: 768px) {
  .model {
    display: none;
  }
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.home-link {
  transition: 0.3s ease-in-out;
}

.home-link:hover {
  transform: matrix(1, 0, 0, 1, 0, -10);
}

@media  (max-width: 768px) {
  .home-link {
    transform: none;
  }
}

.search-bar {
  padding: 0px 10px;
  font-size: 20px;
  color: #ccc;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .search-bar {
    padding: 20px 2px;
    font-size: 20px;
    color: #ccc;
    transition: 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .search-button {
    top: -1.1px;
    bottom: 1.1px;
  }
}

::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar ← You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}